<div class="story">
	<div class="story__userInfo">
		<img
			class="story__userPhoto"
			src="assets/images/kaci-baum-2.jpg"
			alt="Kaci Baum"
		/>
		<h5 class="story__userName"><a href="/profile.html">@KaciBaum</a></h5>
	</div>
	<div class="story__body">
		<h5 class="story__title">What I went through</h5>
		<p class="story__brief">
			Veniam in in duis aliqua cupidatat velit eu id dolore est reprehenderit
			labore Lorem. Aliquip et qui deserunt ipsum irure ipsum fugiat enim ea
			nostrud. Cupidatat consequat culpa sit Lorem sit velit. Ullamco
			consectetur id aliqua ad do deserunt mollit sunt duis excepteur. Non
			fugiat fugiat consequat magna sunt incididunt. Sunt tempor quis esse velit
			deserunt. Incididunt ad sit id ut qui fugiat eiusmod anim nostrud aliqua
			exercitation laborum.
		</p>
	</div>
</div>
