@import "abstract/variables";

@import "components/navbar.scss";

@import "layout/landing.scss";
@import "layout/login.scss";
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left bottom, $second-color, $third-color);
    background-attachment: fixed;

    .btn-main {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $second-color;
        transition: all 250ms ease-out;
        &:disabled {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $second-color;

            &:hover {
                color: red;
            }
        }

        &:not(:disabled):hover {
            transform: translateY(-5%);
            background-color: $second-color;
            border-color: $second-color;
            color: $primary-color;
            box-shadow: 0 0.5rem 1rem #00000070;
        }

    }
}