@import "abstract/variables";
@import "abstract/mixin_functions";

@import "components/navbar";
@import "components/footer";
@import "components/ribbon";

@import "layout/landing";
@import "layout/login";
@import "layout/profile";
@import "layout/write";
@import "layout/feed";

body {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    background: linear-gradient(to left bottom, $second-color, $third-color);
    background-attachment: fixed;

    .btn-main {
        @include setBGcolor($primary-color,$second-color, true);
        transition: all 250ms ease-out;
        &:disabled {
            @include setBGcolor($primary-color,$second-color, true);

            &:hover {
                color: $highlight-color;
            }
        }

        &:not(:disabled):hover {
            transform: translateY(-5%);
            @include setBGcolor($second-color,$primary-color, true);
            box-shadow: 0 0.5rem 1rem #00000070;
        }

    }
}

h1,h2,h3, p{
    color: $primary-color;
    margin: 1rem;
}

.ribbon {
    z-index: 100000;
}