<form class="profile__form">
    <div class="profile__form__group">
        <label for="email">Email</label>
        <input type="email" class="profile__form__control" id="email" placeholder="marie@curie.com">
    </div>
    <div class="profile__form__group">
        <label for="country">Country</label>
        <select class="profile__form__control" id="country">
            <option>Mexico</option>
            <option>Mexico</option>
            <option>Mexico</option>
            <option>Mexico</option>
            <option>Mexico</option>
        </select>
    </div>
    <div class="profile__form__group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="profile__form__conrol" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="profile__form__group">
        <div class="profile__form__group">
            <label for="file">Profile picture</label>
            <input type="file" class="profile__form__control__file" name="" id="" placeholder=""
                aria-describedby="fileHelpId">
        </div>
    </div>
    <button class="profile__main-btn" type="submit">Save</button>
</form>
