.course-view {
	@extend .header;

	&__container {
		@extend .container;

		&__white {
			@extend .bg-light;

			padding: 1rem;
		}
	}
	&__video {
		@extend .embed-responsive-item;

		&__container {
			@extend .embed-responsive;
			@extend .embed-responsive-16by9;
		}
	}
	&__title {
		@extend .display-3;
	}
	&__controls {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__description {
		
	}
}
