<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>

<ngb-accordion [closeOthers]="true" id="static-1">
    <ngb-panel id="static-1" title="Help" cardClass="card-class">
        <ng-template ngbPanelContent>
            Our team decided to create this webpage to help women that have experienced sexual abuse or harassment. We provide a safe space where they can share their experiences without judgment or exposing their identity. 
            Besides the story sharing, our site will provide tools for people that seek information and support. We will share articles written by experts and a map to track the places where more stories happen.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Share">
        <ng-template ngbPanelContent>
            The main function of our system is to share stories. We implemented different features for the site to be safe, including users, anonymous stories, filters, and moderators. With users, we can validate the information, and moderatos get to determine if the stories or comments don't attempt against the community. Anonymous stories allow users to share without the fear of being bullied or show their faces.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Learn">
        <ng-template ngbPanelContent>
            We want to avoid all these stories from happening again and to protect our community, so we have created useful content for all women in our community.
            The web page has a map where we can see places where most stories happen. We also have featured content, on the main page, users can find articles from different specialists to learn about feminism and women safety.
        </ng-template>
    </ngb-panel>
</ngb-accordion>
