<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[0]" alt="Together we can do it">
            <div class="scrim"></div>
        </div>
        <div class="carousel-caption">
            <div class="carousel-text-area">
                <h3>Together we can do it</h3>
                <p>"Feminism is not a one size fits all movement"...</p>
                <p>This is why we focus on providing multiple spaces where we can connect but most importantly make the
                    feminism movement stronger.</p>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[1]" alt="The future is ours">
            <div class="scrim"></div>
        </div>
        <div class="carousel-caption">
            <div class="carousel-text-area">
                <h3>The future is ours</h3>
                <p>We make the future and the future is near. Listen/read various leaders of the feminist movement and
                    become empowered.</p>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[2]" alt="Take control">
            <div class="scrim"></div>
        </div>
        <div class="carousel-caption">
            <div class="carousel-text-area">
                <h3>Don't force yourself to anything you don't want to</h3>
                <p>You are strong and special. Don't let anyone tell you otherwise. If you need support/protection or
                    any inquiries, please contact us. We also provide experiences from other users who might have been
                    in a similar situation as yours. Please check out their stories.</p>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="carousel-image" width="100%" [src]="images[3]" alt="You are not alone">
            <div class="scrim"></div>
        </div>
        <div class="carousel-caption">
            <div class="carousel-text-area">
                <h3>You are not alone</h3>
                <p>We understand that it is tough and sometimes you feel you are in a situation where only you can
                    understand the context/pain. However we provide you with experiences given by other people, along
                    with support groups focused on trying to understand and give solutions to your problems.</p>
            </div>>
        </div>
    </ng-template>
</ngb-carousel>

<ngb-accordion [closeOthers]="true" id="static-1">
    <ngb-panel id="static-1" title="Help" cardClass="card-class">
        <ng-template ngbPanelContent>
            Our team decided to create this webpage to help women that have experienced sexual abuse or harassment. We provide a safe space where they can share their experiences without judgment or exposing their identity. 
            Besides the story sharing, our site will provide tools for people that seek information and support. We will share articles written by experts and a map to track the places where more stories happen.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Share">
        <ng-template ngbPanelContent>
            The main function of our system is to share stories. We implemented different features for the site to be safe, including users, anonymous stories, filters, and moderators. With users, we can validate the information, and moderatos get to determine if the stories or comments don't attempt against the community. Anonymous stories allow users to share without the fear of being bullied or show their faces.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Learn">
        <ng-template ngbPanelContent>
            We want to avoid all these stories from happening again and to protect our community, so we have created useful content for all women in our community.
            The web page has a map where we can see places where most stories happen. We also have featured content, on the main page, users can find articles from different specialists to learn about feminism and women safety.
        </ng-template>
    </ngb-panel>
</ngb-accordion>
