<div class="userprofile">
	<div class="userprofile__picture">
		<img class="userprofile__picture__img" [src]="user.image" alt="" />
	</div>

	<div *ngIf="!edit; else profileedit">
		<app-user-profile-description [user]="user"></app-user-profile-description>
		<a class="button button-primary" (click)="onEdit()">Edit</a>
	</div>
	<ng-template #profileedit>
		<form class="container-fluid">
			<app-user-profile-edit [user]="user" ></app-user-profile-edit>
		</form>
		<a class="button button-primary" (click)="onSave()">Save</a>
	</ng-template>
</div>
