<div class="userprofile">
	<div class="userprofile__picture">
		<img class="userprofile__picture__img" [src]="user.image" alt="" />
	</div>

	<div *ngIf="editBtn == 0; else elseBlock">
		<app-user-profile-description
			[user]="user"
			(askEdition)="enableEdition($event)"
		></app-user-profile-description>
	</div>
	<ng-template #elseBlock>
		<form action="" class="container-fluid">
			<app-user-profile-edit
				[user]="user"
				(editionSave)="disableEdition($event)"
			></app-user-profile-edit>
		</form>
	</ng-template>
</div>
