<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
        <a ngbNavLink>One</a>
        <ng-template ngbNavContent>
            <div class="container-fluid">
                <div class = "row">
                    <div class = "col-md-4">
                        <div class ="profile">
                            <img src ="../../../assets/images/kaci-baum-2.jpg"/>
                            <h2>Kaci Baum</h2>
                        </div>  
                        <a class="btn btn-primary btn-xs" href="#" role="button">Facebook</a>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Twitter</a>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Instagram</a>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Website</a>
                        <img class = "verification" src="../../../assets/images/icon-41-512.webp">

                    </div>
                    <div class="col-md-8 col-sm-* col-xs-*">
                        <h3>Profile Description</h3>

    
                        <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac purus lacus. Curabitur lobortis iaculis porta. Nullam vel condimentum dolor. Etiam tempor arcu ut urna mattis, at tristique sapien fringilla. Fusce viverra, odio sed efficitur dapibus, turpis orci posuere tellus, sed gravida dui risus at sapien. Duis faucibus non elit et interdum. Nam placerat nunc id massa placerat efficitur. Maecenas ac felis et elit vulputate posuere a non urna. Suspendisse mattis vitae nisl sed scelerisque. Duis eu risus varius, laoreet est nec, maximus dolor.</p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
                
                        <hr />
                        <h4>Posts</h4>
            
                        <p class="post verify">
                          Vestibulum ac dui ut arcu pulvinar aliquet. In hac habitasse platea dictumst. Fusce porttitor at quam sit amet placerat. Phasellus placerat nunc vitae enim bibendum interdum. Nunc dapibus nisi a leo tincidunt, vitae dapibus nulla pretium. Etiam eu magna felis. Sed eleifend ligula eget augue consectetur varius. Etiam cursus ex mollis, efficitur eros non, molestie turpis. Nunc malesuada porta semper. Curabitur interdum finibus tortor at semper. Aliquam ornare ut tellus sit amet vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus lorem, dignissim id auctor ac, fringilla sit amet erat. In quis accumsan urna, ut ullamcorper risus. Duis id tempor libero.
                        </p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
                
                        <p class = "post">
                        Aenean hendrerit augue id venenatis mollis. Nunc euismod lorem id interdum tempor. Maecenas euismod euismod arcu blandit rhoncus. Aliquam mattis ornare enim, id molestie nibh dapibus eget. Donec accumsan libero ac ante lobortis, at porttitor neque pretium. Phasellus quis nibh dolor. In nunc mi, cursus quis nunc sit amet, blandit pulvinar nisi. Aenean vel egestas nisl, eu bibendum enim. Mauris ut turpis vel lacus sollicitudin ultrices eu sit amet sapien. Fusce facilisis tempus ligula, et laoreet ligula fringilla eget.
                        </p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
                
                        <p class="post">
                        Nam odio leo, convallis non suscipit eu, ullamcorper a ipsum. Morbi vel porttitor arcu. Praesent sed urna consequat, eleifend nisl in, sodales lectus. Praesent diam neque, efficitur vitae euismod sodales, facilisis interdum orci. Quisque ultrices lacus id lorem feugiat auctor. Ut elementum placerat pulvinar. Donec vel nisi erat. Etiam leo dolor, scelerisque vel congue a, tempor nec mi. Vivamus fringilla non lectus non suscipit. Vestibulum iaculis turpis sit amet egestas semper. Suspendisse non ipsum nec purus laoreet venenatis. Nulla vel turpis porta, consequat arcu vitae, condimentum ante.
                        </p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
                
                        <p class="post">
                        Pellentesque interdum faucibus faucibus. Donec eu mi et erat semper molestie. Donec volutpat, leo sed bibendum eleifend, nibh odio elementum urna, vel mattis ipsum est vel orci. Proin ac porta nisl, at ultrices enim. Maecenas eu nisl venenatis, accumsan odio ut, ultricies felis. Fusce eget mattis velit, id consectetur nisi. In pharetra arcu orci, ut ultricies ligula pellentesque eget. Suspendisse imperdiet libero magna, in lacinia nibh rutrum ut. Nam non augue a lorem aliquet volutpat. Vivamus vel varius dolor.</p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
                
                
                      </div> 

                </div>
            </div>   
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Two</a>
        <ng-template ngbNavContent>
            <div class="container-fluid">
                <div class = "row">
                    <div class = "col-md-4">
                        <div class ="profile">
                            <img src ="../../../assets/images/joe-gardner-2.jpg"/>
                            <h2>Joe Gardner</h2>
                        </div>  
                        <a class="btn btn-primary btn-xs" href="#" role="button">Twitter</a>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Instagram</a>

                    </div>
                    <div class="col-md-8 col-sm-* col-xs-*">

                        <h3>Profile Description</h3>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac purus lacus. Curabitur lobortis iaculis porta. Nullam vel condimentum dolor. Etiam tempor arcu ut urna mattis, at tristique sapien fringilla. Fusce viverra, odio sed efficitur dapibus, turpis orci posuere tellus, sed gravida dui risus at sapien. Duis faucibus non elit et interdum. Nam placerat nunc id massa placerat efficitur. Maecenas ac felis et elit vulputate posuere a non urna. Suspendisse mattis vitae nisl sed scelerisque. Duis eu risus varius, laoreet est nec, maximus dolor.</p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
                
                        <hr />
                
                        <h4>Posts</h4>
                        <p class="post">
                          Vestibulum ac dui ut arcu pulvinar aliquet. In hac habitasse platea dictumst. Fusce porttitor at quam sit amet placerat. Phasellus placerat nunc vitae enim bibendum interdum. Nunc dapibus nisi a leo tincidunt, vitae dapibus nulla pretium. Etiam eu magna felis. Sed eleifend ligula eget augue consectetur varius. Etiam cursus ex mollis, efficitur eros non, molestie turpis. Nunc malesuada porta semper. Curabitur interdum finibus tortor at semper. Aliquam ornare ut tellus sit amet vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin risus lorem, dignissim id auctor ac, fringilla sit amet erat. In quis accumsan urna, ut ullamcorper risus. Duis id tempor libero.
                        </p>
                        <a class="btn btn-primary btn-xs" href="#" role="button">Read More</a>
        
                
                      </div> 

                </div>
            </div> 
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>