<h1>Write</h1>
<h3>Here you can safely write your story. Give it a title and explain what happened, if you want to, there's a space to share images.</h3>

<div class="form-group col-lg-8">
	<label for="title">Title</label>
	<input type="email" class="form-control" id="title" placeholder="Give it a title" maxlength="20">
</div>
<div class="form-group col-lg-8">
	<label for="comment">Story:</label>
	<textarea class="form-control" rows="5" id="comment" placeholder="Tell us what happened"></textarea>
</div>
<div class="form-group col-lg-8">
	<label for="exampleFormControlFile1">Example file input</label>
	<input type="file" class="form-control-file" id="exampleFormControlFile1">
</div>
<button class="btn btn-main btn-md submitStory" type="submit" routerLink="/">Submit</button>
