<nav class="menu">
	<app-ribbon></app-ribbon>
	<div class="menu__logo">
		<img
			width="80px"
			class="logo"
			src="../../assets/images/brain.png"
			alt="Vomu"
		/>
	</div>
	<button
		class="menu__opener"
		type="button"
		data-toggle="collapse"
		data-target="#menu"
		aria-controls="menu"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="menu">
		<ul class="menu__options mr-auto">
			<li class="active">
				<a class="menu__options__item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
			</li>
			<li *ngIf="!loggedin" class="active">
				<a class="menu__options__item" [routerLink]="['/login']" routerLinkActive="router-link-active" >Log in</a>
			</li>
			<li *ngIf="!loggedin" class="active">
				<a class="menu__options__item" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign up</a>
			</li>
			<li *ngIf="loggedin" class="active">
				<a [routerLink]="['student', 'profile']" routerLinkActive="router-link-active"  class="menu__options__item">Profile</a>
			</li>
			<li *ngIf="loggedin" class="active">
				<a class="menu__options__item" (click)="onLogOut()" [routerLink]="['/home']">Log out</a>
			</li>
		</ul>
		<form *ngIf="loggedin" class="search">
			<input
				class="search__input"
				type="search"
				placeholder="Search"
				aria-label="Search"
			/>
			<button class="button button-success" type="submit">Search</button>
			<!-- Routing missing -->
		</form>
	</div>
</nav>
