<div class="userprofile">
	<div class="userprofile__picture">
		<img class="userprofile__picture__img" [src]="user.image" alt="">
    </div>
    
    <!-- TODO(kevinwkt): ngIf to show this or @sam's component depending on the status by the edit button.
    <app-user-profile-description [user]="user"></app-user-profile-description>-->
    
    <div *ngIf="editBtn == 0; else elseBlock">
		<app-user-profile-description [user]="user" (askEdition)="enableEdition($event)"></app-user-profile-description>
	</div>
	<ng-template #elseBlock>
		<form action="" class="container-fluid">
    		<app-user-profile-edit (editionSave) = "disableEdition($event)"></app-user-profile-edit>
    	</form>
	</ng-template>
</div>