<div class="userProfile">
    <div class="userProfile__picture">
        <img class="userProfile__img" src="assets/images/user.png" alt="">
        <button type="button" class="img_button">Edit</button>
    </div>
    <div class="userProfile__info">
        <h2>UserName</h2>
        <h3>UserTitle</h3>
        <div class="userProfile__info__aboutme">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem deleniti molestiae officiis optio? Facilis aliquam aut dicta impedit autem neque ut cumque, praesentium eveniet quasi accusantium blanditiis. Ipsam, aspernatur consequatur.</p>
        </div>
        <button type="button" class="aboutme_button">Edit</button>
    </div>
</div>