<div class="login__card">
	<div class="login__form-logo">
		<img
			class="login__form-logo__logo"
			src="../../../assets/images/logo.png"
			alt="Vomu"
		/>
	</div>
	<div class="login__body">
		<form action="/profile.html" class="was-validated">
			<div class="login__field">
				<label for="email">E-mail:</label>
				<input
					type="email"
					class="login__field__control"
					id="email"
					placeholder="Enter username"
					name="email"
					required
				/>
				<div class="login__field__valid">Valid.</div>
				<div class="login__field__invalid">Please fill out this field.</div>
			</div>
			<div class="login__field">
				<label for="pwd">Password:</label>
				<input
					type="password"
					class="login__field__control"
					id="pwd"
					placeholder="Enter password"
					name="pswd"
					required
				/>
				<div class="login__field__valid">Valid.</div>
				<div class="login__field__invalid">Please fill out this field.</div>
			</div>
			<!--Components for registration-->
			<div *ngIf="register == true">
				<div class="login__field">
					<label for="pwd">Input your password again:</label>
					<input
						type="password"
						class="login__field__control"
						id="pwd"
						placeholder="Enter password"
						name="pswd"
						required
					/>
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">Please fill out this field.</div>
				</div>
				<div class="login__field">
					<label for="description">Add a brief description about your career:</label>
					<input
						type="text"
						class="login__field__control"
						id="description"
						placeholder="Career, experience years, school, etc."
						name="description"
						required
					/>
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">Please fill out this field.</div>
				</div>
				<div class="login__field">
					<label for="role">Choose your role:</label>
					<select name="title" id="role">
						<option (click) = "choseProfessor()">Professor</option>
						<option (click) = "choseStudent()">Student</option>
					</select>
					
				</div>
				<!--Chose professor-->
				<div *ngIf="role == 'Professor'">
					<p>ES UN PROFESOR</p>
				</div>
				<!--Chose student-->
				<div *ngIf="role == 'Student'">
					<p>ES UN ALUMNO</p>
				</div>
				<!--End chose-->
				<div class="input-group mb-3">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="inputGroupFile02" />
						<label
							class="custom-file-label"
							for="profilePic"
							aria-describedby="inputGroupFileAddon02"
							>Choose your profile picture</label
						>
					</div>
					<div class="input-group-append">
						<span class="input-group-text" id="profilePic">Upload</span>
					</div>
				</div>
			</div>
			<!--Components for registration end-->
			<div class="login__field login__checkbox">
				<label class="login__checkbox__label">
					<input
						class="login__checkbox__check"
						type="checkbox"
						name="remember"
						required
					/>
					I agree on blabla.
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">
						Check this checkbox to continue.
					</div>
				</label>
			</div>
			<button type="submit" class="login__main-btn" style="margin: 10px;">
				{{ loginRegister }}
			</button>
			<button
				type="submit"
				class="login__main-btn"
				style="margin: 10px;"
				id="registrationBtn"
				(click)="changeRegister()"
			>
				{{ changeOption }}
			</button>
		</form>
	</div>
</div>
