<div class="login__card">
	<div class="login__form-logo">
		<img
			class="login__form-logo__logo"
			src="../../../assets/images/brain.png"
			alt="Vomu"
		/>
	</div>
	<div class="login__body" [@fadeInOut]>
		<form (ngSubmit)="onSubmit(f)" #f="ngForm" a-form class="was-validated">
			<div class="login__field">
				<label for="email">E-mail:</label>
				<input
					type="email"
					class="login__field__control"
					id="email"
					placeholder="Enter username"
					name="email"
					required
					ngModel
				/>
				<div class="login__field__valid">Valid.</div>
				<div class="login__field__invalid">Please fill out this field.</div>
			</div>
			<div class="login__field">
				<label for="password">Password:</label>
				<input
					type="password"
					class="login__field__control"
					id="password"
					placeholder="Enter password"
					name="password"
					required
					ngModel
				/>
				<div class="login__field__valid">Valid.</div>
				<div class="login__field__invalid">Please fill out this field.</div>
			</div>
			<!--Components for registration-->
			<div *ngIf="register === true" [@fadeInOut]>
				<div class="login__field">
					<label for="pwd">Input your password again:</label>
					<input
						type="password"
						class="login__field__control"
						id="pwd"
						placeholder="Enter password"
						name="pwd"
						required
						ngModel
					/>
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">Please fill out this field.</div>
				</div>
				<div style="display: flex;">
					<div class="login__field" style="width: 50%; margin: 0 1rem 0 0;">
						<label for="fName">First name:</label>
						<input
							type="text"
							class="login__field__control"
							id="fName"
							placeholder="Samantha"
							name="name"
							required
							ngModel
						/>
						<div class="login__field__valid">Valid.</div>
						<div class="login__field__invalid">Please fill out this field.</div>
					</div>
					<div class="login__field" style="width: 50%;">
						<label for="lName">Last name:</label>
						<input
							type="text"
							class="login__field__control"
							id="lName"
							placeholder="Barco"
							name="last"
							required
							ngModel
						/>
						<div class="login__field__valid">Valid.</div>
						<div class="login__field__invalid">Please fill out this field.</div>
					</div>
					
				</div>
				<div class="login__field">
					<label for="role">Choose your role:</label>
					<select ngModel #device name="type" id="role" (change)="onChange($event, device
					.value)">
						<option></option>
						<option>Professor</option>
						<option>Student</option>
					</select>
					
				</div>
				<div>
					<div class="login__field">
						<label for="description">Add your title:</label>
						<input
							type="text"
							class="login__field__control"
							id="title"
							placeholder="PhD., DBA, EdD, PsyD, etc."
							name="title"
							required
							ngModel
						/>
						<div class="login__field__valid">Valid.</div>
						<div class="login__field__invalid">Please fill out this field.</div>
					</div>
				</div>
				<div class="login__field">
					<label for="description">Add a brief description about your career:</label>
					<input
						type="text"
						class="login__field__control"
						id="description"
						placeholder="Career, experience years, school, etc."
						name="description"
						required
						ngModel
					/>
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">Please fill out this field.</div>
				</div>
				<div class="login__field">
					<label for="picture">Profile Picture (URL):</label>
					<input
						type="url"
						class="login__field__control"
						id="picture"
						placeholder="Career, experience years, school, etc."
						required
						name="imgURL"
						ngModel />
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">Please fill out this field.</div>
				</div>
				<!-- <div class="input-group mb-3">
					<div class="custom-file">
						<input ngModel (change)="onProfilePictureChange($event.target.files)" name="picture" type="file" class="custom-file-input" id="inputGroupFile02" />
						<label
							class="custom-file-label"
							for="profilePic"
							aria-describedby="inputGroupFileAddon02"
							>Choose your profile picture</label
						>
					</div>
					<div class="input-group-append">
						<span class="input-group-text" id="profilePic">Upload</span>
					</div>
				</div> -->
			</div>
			<!--Components for registration end-->
			<div class="login__field login__checkbox">
				<label class="login__checkbox__label">
					<input
						class="login__checkbox__check"
						type="checkbox"
						name="remember"
						required
					/>
					I agree on blabla.
					<div class="login__field__valid">Valid.</div>
					<div class="login__field__invalid">
						Check this checkbox to continue.
					</div>
				</label>
			</div>
			<button type="submit" class="login__main-btn" style="margin: 10px;">
				{{ loginRegister }}
			</button>
			<a class="button button-primary" (click)="onFormChange()">{{ changeOption }}</a>
		</form>
	</div>
</div>