<div class="container">
	<div class="course-outline__picture">
		<img class="course-outline__picture--img" src="https://source.unsplash.com/random/1280x720" alt="">
	</div>
	<h1 class="course-outline__title">Course title</h1>
	<p class="course-outline__description">Ipsum sunt incididunt esse culpa sit officia culpa magna nostrud eiusmod commodo voluptate. Voluptate occaecat labore elit consequat ipsum ea aute veniam nostrud in proident ea est sunt. Velit exercitation mollit occaecat amet reprehenderit esse ad culpa quis nulla. Laborum veniam quis aliquip minim culpa officia culpa. Nostrud amet id proident cillum. Nisi dolor mollit eiusmod amet ex quis minim aliqua.</p>
	<hr class="course-outline__separator">
	<p>Deserunt excepteur</p>
	<a class="button" href="Jumbo action link" role="button">Register</a>
</div>