<div id="values" role="tablist" aria-multiselectable="true">
	<div class="infoCard">
		<div class="infoCard__header" role="tab" id="learn">
			<h5>
				<a
					data-toggle="collapse"
					data-parent="#values"
					href="#learnContent"
					aria-expanded="true"
					aria-controls="learn"
				>
					What you'll learn
				</a>
			</h5>
		</div>
		<div id="learnContent" class="infoCard__collapse" role="tabpanel">
			<div class="infoCard__body">
				Consectetur labore aliqua et eu occaecat anim aliquip esse mollit ut
				cillum eiusmod proident mollit. Quis anim culpa enim cillum. Consequat
				cillum id proident ipsum deserunt amet quis. Ullamco id deserunt elit
				laboris proident consectetur adipisicing cupidatat veniam mollit nulla
				exercitation. Proident nisi fugiat proident veniam quis occaecat eu non
				excepteur nostrud velit enim ipsum. Ex tempor occaecat labore eu
				voluptate laboris pariatur. Reprehenderit irure ullamco eiusmod
				incididunt reprehenderit incididunt tempor incididunt.
			</div>
		</div>
	</div>
	<div class="infoCard">
		<div class="infoCard__header" role="tab" id="requirements">
			<h5>
				<a
					data-toggle="collapse"
					data-parent="#values"
					href="#requirementsContent"
					aria-expanded="true"
					aria-controls="requirements"
				>
					Requirements
				</a>
			</h5>
		</div>
		<div id="requirementsContent" class="infoCard__collapse" role="tabpanel">
			<div class="infoCard__body">
				<ul>
					<li>1. Lorem excepteur et enim do eu.</li>
					<li>
						2. Nostrud reprehenderit velit nisi duis adipisicing amet consequat
						ad velit aliquip.
					</li>
					<li>3. Laborum eiusmod ullamco laboris nostrud ex dolore.</li>
					<li>4. Aute est ea pariatur commodo.</li>
					<li>5. Sint in officia in voluptate.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="infoCard">
		<div class="infoCard__header" role="tab" id="course">
			<h5>
				<a
					data-toggle="collapse"
					data-parent="#values"
					href="#courseContent"
					aria-expanded="true"
					aria-controls="course"
				>
					Course Content
				</a>
			</h5>
		</div>
		<div id="courseContent" class="infoCard__collapse" role="tabpanel">
			<div class="infoCard__body">
				<ul>
					<li>1. Lorem excepteur et enim do eu.</li>
					<li>
						2. Nostrud reprehenderit velit nisi duis adipisicing amet consequat
						ad velit aliquip.
					</li>
					<li>3. Laborum eiusmod ullamco laboris nostrud ex dolore.</li>
					<li>4. Aute est ea pariatur commodo.</li>
					<li>5. Sint in officia in voluptate.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
