<app-carousel></app-carousel>
<div id="values" role="tablist" aria-multiselectable="true">
	<div class="infoCard">
		<div class="infoCard__header" role="tab" id="helpTitle">
			<h5>
				<a data-toggle="collapse" data-parent="#values" href="#helpContent" aria-expanded="true"
					aria-controls="helpContent">
					Help
				</a>
			</h5>
		</div>
		<div id="helpContent" class="infoCard__collapse" role="tabpanel" aria-labelledby="helpTitle">
			<div class="infoCard__body">
				Our team decided to create this webpage to help women that have experienced sexual abuse or harassment.
				We
				provide a safe space where they can share their experiences without judgment or exposing their identity.
				Besides the story sharing, our site will provide tools for people that seek information and support. We
				will
				share articles written by experts and a map to track the places where more stories happen.
			</div>
		</div>
	</div>
	<div class="infoCard">
		<div class="infoCard__header" role="tab" id="shareTitle">
			<h5>
				<a data-toggle="collapse" data-parent="#values" href="#shareContent" aria-expanded="true"
					aria-controls="shareContent">
					Share
				</a>
			</h5>
		</div>
		<div id="shareContent" class="infoCard__collapse" role="tabpanel" aria-labelledby="shareTitle">
			<div class="infoCard__body">
				The main function of our system is to share stories. We implemented different features for the site to
				be
				safe, including users, anonymous stories, filters, and moderators. With users, we can validate the
				information, and moderatos get to determine if the stories or comments don't attempt against the
				community.
				Anonymous stories allow users to share without the fear of being bullied or show their faces.
			</div>
		</div>
	</div>
	<div class="infoCard">
		<div class="infoCard__header" role="tab" id="learnTitle">
			<h5>
				<a data-toggle="collapse" data-parent="#values" href="#learnContent" aria-expanded="true"
					aria-controls="learnContent">
					Learn
				</a>
			</h5>
		</div>
		<div id="learnContent" class="infoCard__collapse" role="tabpanel" aria-labelledby="shareTitle">
			<div class="infoCard__body">
				We want to avoid all these stories from happening again and to protect our community, so we have created
				useful content for all women in our community.
				The web page has a map where we can see places where most stories happen. We also have featured content,
				on
				the main page, users can find articles from different specialists to learn about feminism and women
				safety.
			</div>
		</div>
	</div>
</div>
