$primary-color: #fcf8f3;
$second-color: #BF7F7B;
$third-color: #ffd3b6;
$fourth-color: #AB46BC;
$contrast-color: #727272;
$highlight-color:red;
$post-color:#F3C13A;
$post-color-verify:#CA6924;

$foot-color:#CCC;
$foot-background-color:#333;

$half: 50%;
$third:33%;
$full: 100%;