.navbar {
    @include setBGcolor($primary-color,$second-color, false);
    flex-wrap: nowrap;
    .logo {
        width: 20%;
        
        @media (min-width: 568px) {
            width: 10%;
        }
    }
    .nav {
        flex-direction: row;
        flex-wrap: nowrap;
        .nav-link {
            margin: 5px;
            padding: 5px;
            color: inherit;

            &.active {
                @include setBGcolor($second-color, $primary-color, false);
            }
        }
    }
}
