div#fixedfooter {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:$primary-color;
  background:$contrast-color;
  padding:8px;
  z-index: 501;
  text-align: center;
  height: 2rem;
  font-size: x-small;
}