.navbar {
    color: $second-color;
    background-color: $primary-color;
    flex-wrap: nowrap;
    .logo {
        width: 20%;
        
        @media (min-width: 568px) {
            width: 10%;
        }
    }
    .nav {
        flex-direction: row;
        flex-wrap: nowrap;
        .nav-link {
            margin: 5px;
            padding: 5px;
            color: inherit;

            &.active {
                color: $primary-color;
                background-color: $second-color;
            }
        }
    }
}
