.story {
    background-color: $primary-color;
    border: 1px solid #ffffff70;
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px 30px;
    &__title {
        display: block;
        color: $second-color;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__author {
        display: block;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
        @media (min-width: 750px) {
            flex-wrap: nowrap;
        }
    
        &__text {
            color: #000;
              &::first-letter {
                color: $second-color;
                float: left;
                font-family: Georgia;
                font-size: 75px;
                line-height: 60px;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
            }
        }
    
        &__img {
            min-width: 150px;
            margin: 0 auto;
            border: 2px solid #000;
    
        }

    }
}

.pagination {
    .page-item {
        &.active {
            a {
                background-color: $second-color;
                color: $primary-color !important;
            }
        }
        
        a {
            background-color: $primary-color;
            color: $second-color !important;
        }
    }
}