.card {
    text-align: center;
    .btn {
        @include button_card(2rem, 900, $second-color)
    }
}


.picsum-img-wrapper {
    overflow: hidden;
    width: $full;

    @media (min-width: 1024px) {
        height: 90vh;
    }
    .carousel-image {
        @include carousel_image(fixed, cover, center);

        width: 100%;
    }
    .scrim {
        position: absolute;
        top: 0;
        left: 0;
        height: $full;
        width: $full;

        // background-color: rgba(0, 0, 0, 0.6);
    }
}

.carousel-caption {
    float: right;
}

.carousel-text-area {
    @include carousel_text(left, $second-color, 10px, 500px, 0.7, justify, inter-word, 10px)
}
