.login {
    margin: 12.5% auto;
    width: 100%;
    max-width: 330px;
    background-color: $primary-color;
    border-radius: 20px;
    padding: 25px;
    text-align: center;

    .logo {
        width: 50%;
    }

    .input-group {
        &-text {
            color: $primary-color;
            background-color: $second-color;
        }

        .form-control {
            color: $second-color;
            background-color: $primary-color;

            &.ng-invalid.ng-touched.ng-dirty:not(.focus-visible){
                color: red;
            }

            &:focus {
                border-color: unset;
                box-shadow: unset;
            }
        }
    }
    .custom-control {
        &-input {
            color: $primary-color;
            
            &:checked~.custom-control-label::before {
                background-color: $second-color;
                border-color: $second-color;
            }
        }
        
        &-label {
            color: $primary-color;
        }
    }
}