.login {
    @include login_base(12.5% auto, $full, 330px, $primary-color, 20px, 25px, center);

    .logo {
        width: $half;
    }

    .input-group {
        &-text {
            @include setBGcolor($second-color,$primary-color, false);
        }

        .form-control {
            @include setBGcolor($primary-color,$second-color, false);

            &.ng-invalid.ng-touched.ng-dirty:not(.focus-visible){
                color: $highlight-color;
            }

            &:focus {
                border-color: unset;
                box-shadow: unset;
            }
        }
    }
    .custom-control {
        &-input {
            color: $primary-color;
            &:checked~.custom-control-label::before {
                @include setBGcolor($second-color,$primary-color, true);
            }
        }
        &-label {
            color: $primary-color;
        }
    }
}