
img{
    max-width: 100%;
    height: auto;
}
p{

    &.post{
        background-color: $post-color;
        &.verify{
            background-color: $post-color-verify;
        }
    }
    padding:1em
}
a{
    max-width: 100%;
    height:auto;
    margin:5px;
}
.verification{
    max-width: 10%;
    height:auto;
}