
img{
    max-width: 100%;
    height: auto;
}
p{

    &.post{
        background-color: #F3C13A;;
        &.verify{
            background-color: #CA6924;
        }
    }
    padding:1em
}
a{
    max-width: 100%;
    height:auto;
    margin:5px;
}
.verification{
    max-width: 10%;
    height:auto;
}