<div class="login">
    <img class="logo" src="assets/images/logo.png" alt="Vomu">
    <form class="form-signin" (ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="col-auto">
            <div [ngStyle]="{'border-color': (email.dirty && email.invalid) ? 'red' : 'none' }" class="input-group mb-2">
                <div class="input-group-prepend">
                    <label i18n="User's email|Email input for login@@emailInput" for="inputEmail" class="input-group-text">Email</label>
                </div>
                <input #email email ngModel type="email" name="email" id="email" class="form-control" placeholder="marie@curie.com" required>
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label i18n="User's password|Password input for login@@passwordInput" for="inputPassword" class="input-group-text">Password</label>
                </div>
                <input ngModel type="password" name="password" id="password" class="form-control" placeholder="supersecret" required>
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input autocomplete="current-password" ngModel type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe">
            <label i18n="Remember account|Checkbox (remember me) input for login@@checkboxInput" class="custom-control-label" for="rememberMe">Remember me</label>
        </div>
        <button i18n="Sign into account|Submit button for login@@submitInput" [disabled]="f.invalid" class="btn btn-main btn-md" type="submit">Sign in</button>
    </form>
</div>