<div class="login">
    <form class="form-signin">
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label for="inputEmail" class="input-group-text">Email</label>
                </div>
                <input type="email" id="inputEmail" class="form-control" placeholder="marie@curie.com" required>
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label for="inputPassword" class="input-group-text">Password</label>
                </div>
                <input type="password" id="inputPassword" class="form-control" placeholder="************" required>
            </div>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
        </div>
        <button class="btn btn-primary btn-md" type="submit">Sign in</button>
    </form>
</div>