<div class="profile__summary">
    <div class="profile__row-element">
        <img class="profile__img border-black" src="assets/images/kaci-baum-2.jpg" alt="">
        <h5 class="profile__img__label display-5">@KaciBaum</h1>
    </div>
    <p class="profile__summary__text drop-case">Et excepteur officia id adipisicing duis aute eiusmod aute
        cillum anim esse
        nisi. Nulla duis commodo est officia. Laboris ullamco proident aliqua fugiat labore
        officia
        ad veniam est sint voluptate esse. Nisi occaecat irure et consectetur enim duis commodo
        nisi
        reprehenderit quis ea cupidatat sit. Ex commodo non adipisicing mollit. Sit magna qui ad
        occaecat est dolore ipsum ipsum voluptate dolor veniam. Dolore veniam quis laboris nulla
        ex
        fugiat anim nulla sunt anim aliqua.</p>
    <hr class="profile__break">
    <app-card></app-card>
    <app-itemlist></app-itemlist>
</div>
